<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>AccCustomerDTOs View</title>
    <style>
        td{padding: 10px}
    </style>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<!--<div th:replace="admin/headerAdmin :: header-admin"></div>-->
<AccManager>
    <h2 style="text-align: center; color: #FF5733; font-size: 2.5em;font-weight: 500; line-height: 1.2; margin-top: 30px">
        Danh sách tài khoản của khách hàng</h2>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th>Tên</th>
                    <th>Email</th>
                    <th>Số điện thọai</th>
                    <th>Mật khẩu</th>
                    <th>Địa chỉ</th>
                    <th>Ngày thuê</th>
                    <th>Phân quyền</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="accCustomerDTO : ${accCustomerDTOS}">
                    <td th:text="${accCustomerDTO.getFirstName} +' ' + ${accCustomerDTO.getLastName}"></td>
                    <td th:text="${accCustomerDTO.getEmail}"></td>
                    <td th:text="${accCustomerDTO.getPhone}"></td>
                    <td th:text="${accCustomerDTO.getPass}"></td>
                    <td th:text="${accCustomerDTO.getAddress}"></td>
                    <td th:text="${accCustomerDTO.getRegistrationDate}"></td>
                    <td th:text="${accCustomerDTO.getAuthority.getAuthority}"></td>
                    <td>
                        <div class="d-flex" style="display: flex; justify-content: center; align-items: center;">
                            <a th:href="@{'/Handshop/admin/UpdateCustomerInfo/' + ${accCustomerDTO.getCustomerId}}"
                               class="actionbtn">
                                <button type="button" class="btn btn-primary btn-sm"> Update</button>
                            </a>
                            <a th:href="@{'/Handshop/admin/DeleteCustomer/'+ ${accCustomerDTO.getCustomerId}}"
                               class="actionbtn">
                                <button type="button" class="btn btn-danger btn-sm">Delete</button>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                    <th>Tên</th>
                    <th>Email</th>
                    <th>Số điện thọai</th>
                    <th>Mật khẩu</th>
                    <th>Địa chỉ</th>
                    <th>Ngày thuê</th>
                    <th>Phân quyền</th>
                    <th>Thao tác</th>
                </tfoot>
            </table>
        </div>
    </div>
</AccManager>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!--Phải load jquery trước khi load bootstrap js-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
