<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Add new Brand or Category</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Phone</title>
    <!-- Link to Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <style>
        .form-group>div, .form-group>div>form>div, .form-group>form>div{
            margin: 5px;
        }
        div>p{
            display: flex;
            justify-content: center;
            align-content: center;
        }
        p{
            padding: 15px;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #721c24;
            border-color: black;
            margin-bottom: 0;
            font-weight: bold;
        }
    </style>
</head>
<body>
<!--<div th:replace="admin/headerAdmin :: header-admin"></div>-->
<add-model>
    <h1 style="text-align: center"> Danh mục Model</h1>
    <div th:replace="admin/add-nocite.html :: notice"></div>
    <!-- Input for Brand -->
    <div class="form-group" style="display: flex ; justify-content: space-around">
        <div style="display: flex; justify-content: space-around">
            <form th:action="'/Handshop/admin/model/add'" method="post" class="d-flex flex-column justify-content-center">
                <div style="margin:0px 15px 0px">
                    <label for="addmodel" >Thêm model:</label>
                    <input class="form-control" id="addmodel" name="addmodel" required readonly> hãy chọn các lựa chọn dưới</input>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div style="margin: 0px 15px 0px">
                        <br>
                        <label th:for="@{'brand'}">Brand:</label>
                        <select th:class="@{'form-control'}" th:id="@{'brand'}" th:name="@{'brandID'}" required onchange="updatePhoneModel()">
                            <option th:each="brand : ${brands}" th:value="${brand.BrandID}"
                                    th:text="${brand.BrandName}"></option>
                        </select>
                        <br>
                        <label for="category">Category:</label>
                        <select class="form-control" id="category" name="categoryID" required onchange="updatePhoneModel()">
                            <option th:each="category : ${categories}" th:value="${category.CategoryID}"
                                    th:text="${category.CategoryName}"></option>
                        </select>
                    </div>
                    <div style="margin: 0px 15px 0px">
                        <br>
                        <label for="phoneName">Tên điện thoại:</label>
                        <input type="text" class="form-control" id="phoneName" name="phoneName" required onchange="updatePhoneModel()"
                               th:placeholder="'Iphone SE'">
                        <br>
                        <label for="releaseYear">Năm phát hành:</label>
                        <input type="number" class="form-control" id="releaseYear" name="releaseYear" required min="1890" onchange="updatePhoneModel()"
                               th:max="@{year}" th:placeholder="'2023'">
                    </div>
                    <div style="margin: 0px 15px 0px">
                        <br>
                        <label for="OS">Hệ điều hành:</label>
                        <select class="form-control" id="OS" name="OSID" required onchange="updatePhoneModel()">
                            <!-- Populate options dynamically from your database -->
                            <option th:each="OS : ${OSs}" th:value="${OS.getId}"
                                    th:text="${OS.getOsType}"></option>
                            <!-- Add more options as needed -->
                        </select>
                        <br>
                        <label th:for="@{'color'}" >Màu:</label>
                        <select th:class="@{'form-control'}" th:id="@{'color'}" th:name="@{'colorID'}"  required onchange="updatePhoneModel()">
                            <option th:each="color : ${colors}" th:value="${color.id}" th:text="${color.color}"></option>
                        </select>
                    </div>
                    <div style="margin: 0px 15px 0px">
                        <br>
                        <label for="ram">Bộ nhớ Ram (GB):</label>
                        <select class="form-control" id="ram" name="ramID" required onchange="updatePhoneModel()">
                            <!-- Populate options dynamically from your database -->
                            <option th:each="ram : ${rams}" th:value="${ram.getId}"
                                    th:text="${ram.getCapacity}"></option>
                            <!-- Add more options as needed -->
                        </select>
                        <br>
                        <label for="storageCapacity">Bộ nhớ trong (GB):</label>
                        <select class="form-control" id="storageCapacity" name="storageCapacityID" required onchange="updatePhoneModel()">
                            <!-- Populate options dynamically from your database -->
                            <option th:each="storageCapacity : ${storageCapacities}" th:value="${storageCapacity.getId}"
                                    th:text="${storageCapacity.getCapacity}"></option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" > Thêm mới </button>
            </form>
        </div>
        <form th:action="@{/Handshop/admin/model/del}" method="post">
            <div class="form-group">
                <label for="delmodel">Model:</label>
                <select class="form-control" id="delmodel" name="delmodelID" required onchange="updatePhoneName()">
                    <!-- Populate options dynamically from your database -->
                    <option th:each="model : ${models}" th:value="${model.getId}"
                            th:text="${model.getModel}"></option>
                    <!-- Add more options as needed -->
                </select>
                <br>
                <button type="submit" class="btn btn-danger"> Xóa Model
                    <!--<button type="submit" class="btn btn-primary" onclick="confirm('Bạn có chắc chắn đổi mật khẩu?')"> Đổi MK-->
                </button>
            </div>
            <div>
                <label id="Phonenamelbl" style="font-weight: bold; font-size: 15px"></label>

            </div>
        </form>
        <script th:inline="javascript">
            var phoneNameList = /*[[${phoneNameList}]]*/ []; // Đảm bảo phoneNameList là một mảng
            function updatePhoneName() {
                var modelDropdown = document.getElementById("delmodel"); // Lấy thẻ dropdown
                var selectedPhoneIndex = modelDropdown.selectedIndex; // Lấy chỉ số của option đã chọn
                var selectedPhone = phoneNameList[selectedPhoneIndex]; // Lấy giá trị của option đã chọn
                var phoneNameLabel = document.getElementById("Phonenamelbl"); // Lấy thẻ label
                phoneNameLabel.innerText = "Phone Name: " + selectedPhone; // Cập nhật nội dung của label
            }
            function updatePhoneModel() {
                var phoneNameInput = document.getElementById("phoneName").value; // Lấy giá trị từ trường nhập liệu "Tên điện thoại"
                var releaseYearInput = document.getElementById("releaseYear").value; // Lấy giá trị từ trường nhập liệu "Năm phát hành"
                var osDropdown = document.getElementById("OS"); // Lấy thẻ dropdown "Hệ điều hành"
                var osOption = osDropdown.options[osDropdown.selectedIndex]; // Lấy option đã chọn trong dropdown "Hệ điều hành"
                var osName = osOption.text; // Lấy tên hệ điều hành từ option đã chọn
                var storageCapacityDropdown = document.getElementById("storageCapacity"); // Lấy thẻ dropdown "Bộ nhớ trong"
                var storageCapacityOption = storageCapacityDropdown.options[storageCapacityDropdown.selectedIndex]; // Lấy option đã chọn trong dropdown "Bộ nhớ trong"
                var storageCapacity = storageCapacityOption.text; // Lấy giá trị bộ nhớ trong từ option đã chọn
                var ramDropdown = document.getElementById("ram"); // Lấy thẻ dropdown "Bộ nhớ RAM"
                var ramOption = ramDropdown.options[ramDropdown.selectedIndex]; // Lấy option đã chọn trong dropdown "Bộ nhớ RAM"
                var ramCapacity = ramOption.text; // Lấy giá trị bộ nhớ RAM từ option đã chọn
                var colorDropdown = document.getElementById("color"); // Lấy thẻ dropdown "Màu"
                var colorOption = colorDropdown.options[colorDropdown.selectedIndex]; // Lấy option đã chọn trong dropdown "Màu"
                var colorName = colorOption.text; // Lấy tên màu từ option đã chọn
                var brandDropdown = document.getElementById("brand"); // Lấy thẻ dropdown "Màu"
                var brandOption = brandDropdown.options[brandDropdown.selectedIndex]; // Lấy option đã chọn trong dropdown "Màu"
                var brandName = brandOption.text; // Lấy tên màu từ option đã chọn
                var categoryDropdown = document.getElementById("category"); // Lấy thẻ dropdown "Màu"
                var categoryOption = categoryDropdown.options[categoryDropdown.selectedIndex]; // Lấy option đã chọn trong dropdown "Màu"
                var categoryName = categoryOption.text; // Lấy tên màu từ option đã chọn

                var modelInput = phoneNameInput + "-" + releaseYearInput + "-" + storageCapacity + "-" + ramCapacity + "-" + colorName; // Tạo tên model theo quy tắc

                var addModelInput = document.getElementById("addmodel"); // Lấy trường nhập liệu "Thêm model"
                addModelInput.value = modelInput; // Cập nhật giá trị trường nhập liệu "Thêm model" với tên model mới
            }
        </script>
    </div>
</add-model>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>