<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Add new Brand or Category</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Phone</title>
    <!-- Link to Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <style>
        .form-group>div, .form-group>div>form>div, .form-group>form>div{
            margin: 5px;
        }
        div>p{
            display: flex;
            justify-content: center;
            align-content: center;
        }
        p{
            padding: 15px;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #721c24;
            border-color: black;
            margin-bottom: 0;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div th:replace="admin/headerAdmin :: header-admin"></div>
<div class="container">
<section>
    <div th:if="${errorbrand != ''}" class="alert alert-danger" role="alert">
        <p th:text="${errorbrand}"></p>
    </div>
    <div th:if="${successbrand != ''}" class="alert alert-success" role="alert">
        <p th:text="${successbrand}"></p>
    </div>
    <div th:if="${errorcategory != ''}" class="alert alert-danger" role="alert">
        <p th:text="${errorcategory}"></p>
    </div>
    <div th:if="${successcategory != ''}" class="alert alert-success" role="alert">
        <p th:text="${successcategory}"></p>
    </div>

    <div th:if="${errorbrandadd != ''}" class="alert alert-danger" role="alert">
        <p th:text="${errorbrandadd}"></p>
    </div>
    <div th:if="${successbrandadd != ''}" class="alert alert-success" role="alert">
        <p th:text="${successbrandadd}"></p>
    </div>
    <div th:if="${errorcategoryadd != ''}" class="alert alert-danger" role="alert">
        <p th:text="${errorcategoryadd}"></p>
    </div>
    <div th:if="${successcategoryadd != ''}" class="alert alert-success" role="alert">
        <p th:text="${successcategoryadd}"></p>
    </div>
</section>
<!-- Input for Brand -->
<div class="form-group" style="display: flex ; justify-content: space-around">
    <form th:action="@{'/Handshop/admin/brand/del'}" method="post" id="deleteBrandForm">
        <div>
            <label th:for="@{'brand'}" >Brand:
                <input type="checkbox" id="checkboxBrand">
            </label>
            <select th:class="@{'form-control'}" th:id="@{'brand'}" th:name="@{'brandID'}"  required
                    onchange="enableDeleteButton('deleteBrandForm', 'deleteBrandButton')">
                <option th:each="brand : ${brands}" th:value="${brand.BrandID}" th:text="${brand.BrandName}"></option>
            </select>
        </div>
        <!--<button type="submit" class="btn btn-danger" id="deleteBrandButton" disabled > Delete Brand </button>-->
        <button type="submit" class="btn btn-danger" id="deleteBrandButton" > Delete Brand </button>
    </form>
    <div style="display: flex; justify-content: space-around">
        <form th:action="'/Handshop/admin/brand/add'" method="post">
            <div style="margin-right: 10px">
                <label for="addBrand" >Add more Brand:</label>
                <input type="text" class="form-control" id="addBrand" name="addBrand" required>
            </div>
            <button type="submit" class="btn btn-primary" > Add Brand</button>
        </form>
    </div>
</div>
<!-- Input for Category (Dropdown) -->
<div class="form-group" style="display: flex ; justify-content: space-around">
    <div>
        <form th:action="@{'/Handshop/admin/category/del'}" method="post" id="deleteCategoryForm">
            <div>
                <label for="category">Category:
                    <input type="checkbox" id="checkboxCategory">
                </label>
                <select class="form-control" id="category" name="categoryID" required
                        onchange="enableDeleteButton('deleteCategoryForm', 'deleteCategoryButton')">
                    <!-- Populate options dynamically from your database -->
                    <option th:each="category : ${categories}"  th:value="${category.CategoryID}" th:text="${category.CategoryName}"></option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <!--<button type="submit" class="btn btn-danger" id="deleteCategoryButton" disabled> Delete Category </button>-->
            <button type="submit" class="btn btn-danger" id="deleteCategoryButton" > Delete Category </button>
        </form>
    </div>
    <div style="display: flex; ">
        <form th:action="@{'/Handshop/admin/category/add'}" method="post">
            <div style="margin-right: 10px">
                <label th:for="@{'addCategory'}" >Add more Category:</label>
                <input type="text" th:class="@{'form-control'}" th:id="@{'addCategory'}" th:name="@{'addCategory'}"  required>
            </div>
            <button type="submit" class="btn btn-primary" > Add Category</button>
        </form>
    </div>
</div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var checkboxBrand = document.getElementById('checkboxBrand');
            var checkboxCategory = document.getElementById('checkboxCategory');
            var deleteBrandButton = document.getElementById('deleteBrandButton');
            var deleteCategoryButton = document.getElementById('deleteCategoryButton');

            // Kiểm tra trạng thái ban đầu của checkbox và gán giá trị disabled cho nút delete
            setDisabledState(deleteBrandButton, checkboxBrand.checked);
            setDisabledState(deleteCategoryButton, checkboxCategory.checked);

            // Thêm sự kiện cho checkbox
            checkboxBrand.addEventListener("change", function () {
                setDisabledState(deleteBrandButton, this.checked);
            });

            checkboxCategory.addEventListener("change", function () {
                setDisabledState(deleteCategoryButton, this.checked);
            });
        });

        // Hàm để gán giá trị disabled cho nút delete
        function setDisabledState(deleteButton, isChecked) {
            deleteButton.disabled = !isChecked;
        }
    </script>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>