<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thyme leaf-extras-springsecurity5"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hand Mobile Shop</title>
    <link rel="stylesheet" th:href="@{/css/HomeMBPhoneStyle.css}">
    <!--<link rel="stylesheet" href="/css/HomeMBPhoneStyle.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="scroll-container" >
<div th:replace="admin/headerAdmin :: header-admin"></div>
    <div>
        <h2 th:if="${soldphones}" style="text-align: center; margin: 50px; color: #FF5733; font-size: 2.5em;font-weight: 500; line-height: 1.2;">Danh sách điện thoại đã bán </h2>
        <h2 th:if="${soldPhonesWait}" style="text-align: center; margin: 50px; color: #FF5733; font-size: 2.5em;font-weight: 500; line-height: 1.2;">Danh sách điện thoại Chờ duyệt </h2>
    </div>
<form th:action="@{/Handshop/admin/searchAdminSold}" method="post">
    <div class="search-container" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <input style="min-width: 0px; max-width: 300px;" type="text" class="form-control  bg-transparent text-dark" name="inputdatasearch" placeholder="Nhập từ khóa tìm kiếm">
        <button class="search-button  bg-transparent text-dark" type="submit" style="max-width: max-content">
            <span> 🔍 </span>
        </button>
    </div>
    <br>
    <div style="display:flex; justify-content:center; align-content: center">
        <input type="hidden" name="soldphones" th:value="${soldphones}">
        <input type="hidden" name="soldPhonesWait" th:value="${soldPhonesWait}">
        <a th:if="${soldphones}" href="/Handshop/admin/ExportSellPhone">
            <h5>Tài về danh sách</h5>
        </a>
        <a th:if="${soldPhonesWait}" href="/Handshop/admin/ExportSoldPhonesWait">
            <h5>Tài về danh sách</h5>
        </a>
    </div>
</form>
<div class="d-flex" style="flex-direction: row; justify-content: flex-end;margin-right: 10%"><a href="/Handshop/admin/OrderRequest" style="">đi đến trang chờ duyệt</a></div>
<div id="ConDiv" class="container table-container d-flex flex-column">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Hình ảnh</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Phone Name</th>
            <th>Model</th>
            <th>Seri</th>
            <th>Release Year</th>
            <th>Screen Size</th>
            <th>Storage Capacity</th>
            <th>RAM</th>
            <th>Operating System</th>
            <th>Price</th>
            <th>Color</th>
            <th >Số lượng</th>
            <th >Ngày bán</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderitemDTO, iter : ${orderitemDTOS}">
            <td> <img class="img-phones" th:src="'/Images/' + ${orderitemDTO.phoneDTO.ImageName}" th:alt="phones" style="width: 70px; height: 70px;"> </td>
            <td th:text="${orderitemDTO.phoneDTO.brand.getBrandName}"></td>
            <td th:text="${orderitemDTO.phoneDTO.category.getCategoryName}"></td>
            <td th:text="${orderitemDTO.phoneDTO.phoneName}"></td>
            <td th:text="${orderitemDTO.phoneDTO.model}"></td>
            <td th:text="${orderitemDTO.seri}"></td>
            <td th:text="${orderitemDTO.phoneDTO.releaseYear}"></td>
            <td th:text="${orderitemDTO.phoneDTO.screenSize}+ 'inch'"></td>
            <td th:text="${orderitemDTO.phoneDTO.storageCapacity}+'GB'"></td>
            <td th:text="${orderitemDTO.phoneDTO.ram}+'GB'"></td>
            <td th:text="${orderitemDTO.phoneDTO.operatingSystem}"></td>
            <td th:text="'$' + ${orderitemDTO.price}"></td>
            <td th:text="${orderitemDTO.phoneDTO.color}"></td>
            <td th:text="${orderitemDTO.quantity}"></td>
            <td th:text="${orderdate[iter.index]}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!--Phải load jquery trước khi load bootstrap js-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/script.js}"></script>
<div style="margin: 20px">
    <!-- Add a Logout button -->
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
    </form>
    <!--<div sec:authorize="isAuthenticated" style="color: red"> Authenticated as <span sec:authentication=""></span></div>-->
</div>
</body>
</html>
