<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thyme leaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Yêu cầu mua hàng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <style>
        .table-container {
            display: flex;
            justify-content: center;
        }
        .table {
            width: 1vw; /* hoặc bạn có thể chỉ định kích thước cụ thể khác phù hợp với nội dung của bạn */
        }
        td, th {
            white-space: nowrap;
            text-align: center;
            vertical-align: middle; /* Thêm thuộc tính này để căn giữa theo chiều dọc */
        }
        .wrap{
            white-space: unset;
        }
        h1{
            margin-top: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
<!--<div th:replace="admin/templateAdmin.html :: header-admin"></div>-->
<order-request-reject>
<h1 style="text-align: center;">Đơn đã hủy</h1><br>
<br>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Địa chỉ giao hàng</th>
                    <th>Thông tin liên hệ</th>
                    <th>Sản phẩm</th>
                    <th>Số lượng đặt hàng</th>
                    <!--<th>Số lượng đáp ứng</th>
                    <th>Số lượng bổ sung</th>-->
                    <th>Giá/SP</th>
                    <th>Tổng giá</th>
                    <th>Ngày đặt hàng</th>
                    <th>Ngày hủy</th>
                    <!--<th>Thao tác</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orderDTOsfilterWithstatus}">
                    <td th:text="${order.getOrderID}"></td>
                    <td th:text="${order.getCustomer.getFirstName} + ' ' + ${order.getCustomer.getLastName}"></td>
                    <td class="wrap" th:text="${order.getCustomer.getAddress}"></td>
                    <td><p th:text="${order.getCustomer.getPhone} + ' hoặc '"></p>
                        <p th:text="${order.getCustomer.getEmail}"></p></td>
                    <td>
                        <div th:each="phone : ${order.getPhoneDTOS}">
                            <p th:text="${phone.PhoneName} +' | '+${phone.Ram.getCapacity}+'GB | '+${phone.StorageCapacity.getCapacity}+'GB'"></p>
                        </div>
                    </td>
                    <td>
                        <div th:each="orderitem : ${order.getOrderitemDTOS}">
                            <p th:text="${orderitem.getQuantity}"></p>
                        </div>
                    </td>
<!--                    <td>
                        <div th:each="orderitem : ${order.getOrderitemDTOS}">
                            <p th:text="${orderitem.getQuantity() - orderitem.getMissing()}"></p>
                        </div>
                    </td>
                    <td>
                        <div th:each="orderitem : ${order.getOrderitemDTOS}">
                            <p th:text="${orderitem.getMissing}" th:data-missing="${orderitem.getMissing}"></p>
                        </div>
                    </td>-->
                    <td>
                        <div th:each="orderitem : ${order.getOrderitemDTOS}">
                            <p th:text="${#numbers.formatCurrency(orderitem.price)}"></p>
                        </div>
                    </td>
                    <td th:text="${#numbers.formatCurrency(order.getAmount)}"></td>
                    <td class="wrap" th:text="${order.getOrderDate}"></td>
                    <td class="wrap" th:text="${order.getDateProcessed}" style="color: #f70005; font-weight: bold"></td>
                    <!--<td>
                        <div class="d-flex" style="display: flex; justify-content: center; align-items: center;" th:each="orderitem : ${order.getOrderitemDTOS}">
                            <form th:if="${orderitem.getMissing}==0" th:action="@{/Handshop/admin/approveOrder}" method="post" class="actionbtn" style=" margin-bottom: 10px">
                                <input type="hidden" name="OrderID" th:value="${order.OrderID}">
                                <input type="hidden" name="User" th:value="${#authentication.name}" >
                                <input type="hidden" name="dateProcessed"
                                       th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}">
                                <button type="submit" class="btn btn-success btn-sm"
                                        onclick="return confirm('Bạn có chắc chắn muốn duyệt không?')">Duyệt
                                </button>
                            </form>
                            <form th:if="${orderitem.getMissing}!=0" th:action="@{/Handshop/admin/updateOrder}" method="post" class="actionbtn" style=" margin-bottom: 10px">
                                <input type="hidden" name="OrderID" th:value="${order.OrderID}">
                                <input type="hidden" name="dateProcessed" value="0000-00-00 00:00:00">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    Cập nhật
                                </button>
                            </form>
                            <form th:action="@{/Handshop/admin/rejectOrder}" method="post" class="actionbtn" style="margin-left: 10px; margin-bottom: 10px">
                                <input type="hidden" name="OrderID" th:value="${order.OrderID}">
                                <button type="submit" class="btn btn-danger btn-sm"
                                        onclick="return confirm('Bạn có chắc chắn muốn bỏ không?')">Bỏ
                                </button>
                            </form>
                            &lt;!&ndash;<a th:href="@{'/Handshop/admin/rejectOrder?OrderID=' + ${order.OrderID}}" class="actionbtn">
                                <button type="button" class="btn btn-danger btn-sm">Bỏ</button>
                            </a>&ndash;&gt;
                        </div>
                    </td>-->
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Địa chỉ giao hàng</th>
                    <th>Thông tin liên hệ</th>
                    <th>Sản phẩm</th>
                    <th>Số lượng đặt hàng</th>
                    <!--<th>Số lượng đáp ứng</th>
                    <th>Số lượng bổ sung</th>-->
                    <th>Giá/SP</th>
                    <th>Tổng giá</th>
                    <th>Ngày đặt hàng</th>
                    <th>Ngày hủy</th>
                    <!--<th>Thao tác</th>-->
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</order-request-reject>
</body>
<script th:inline="javascript">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!--Phải load jquery trước khi load bootstrap js-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script></html>
