<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Lợi nhuận</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<div th:replace="admin/headerAdmin :: header-admin"></div>
<form th:action="@{'/Handshop/admin/ProfitReport'}" method="post">
    <div class="col-lg-6;" style=" display:flex; flex-direction: row; justify-content: space-around" >
        <div class="col-lg-2;">
            <label for="start_date">Ngày bắt đầu:</label><br>
            <input type="datetime-local" class="form-control" id="start_date" name="start_date" required><br><br>
        </div>
        <div class="col-lg-2;">
            <label for="end_date">Ngày kết thúc:</label><br>
            <input type="datetime-local" class="form-control" id="end_date" name="end_date" required><br><br>
        </div>
    </div>
    <div style=" display:flex; flex-direction: row; justify-content: space-around" >
        <button type="submit" class="btn btn-success">Báo cáo Doanh thu</button>
    </div>
</form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!--Phải load jquery trước khi load bootstrap js-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>
