<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thyme leaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Xóa Điện thoại</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" sec:authorize="hasAnyRole('ROLE_ADMIN')">
    <link rel="stylesheet" th:href="@{/css/Header.css}" sec:authorize="hasAnyRole('ROLE_CUSTOMER')">
</head>
<body class="scroll-container" >
<div class="container">
    <div th:replace="admin/headerAdmin :: header-admin" sec:authorize="hasAnyRole('ROLE_ADMIN')" ></div>
    <div th:replace="header :: header" sec:authorize="hasAnyRole('ROLE_CUSTOMER')"></div>
    <h1 style="margin-top: 250px; text-align: center;"> Xác nhận xóa đơn đặt hàng </h1><br>
    <p>Bạn có chắc chắn muốn xóa đơn đặt hàng này không?</p>
    <form th:object="${order}" th:action="@{'/Handshop/admin/rejectOrder'}" method="Post" sec:authorize="hasAnyRole('ROLE_ADMIN')">
        <input type="hidden" name="OrderID" th:value="*{orderID}" /> <!-- Trường ẩn để truyền id của nhân viên -->
        <button type="submit" class="btn btn-danger" onclick="confirmDelete(this)" >Xóa</button>
        <a href="/Handshop/admin/OrderRequest" class="btn btn-secondary">Hủy</a>
    </form>
    <form th:object="${order}" th:action="@{'/Handshop/rejectOrder'}" method="Post" sec:authorize="hasAnyRole('ROLE_CUSTOMER')">
        <input type="hidden" name="OrderID" th:value="*{orderID}" /> <!-- Trường ẩn để truyền id của nhân viên -->
        <button type="submit" class="btn btn-danger" onclick="confirmDelete(this)" >Xóa</button>
        <a href="/Handshop/admin/OrderRequest" class="btn btn-secondary">Hủy</a>
    </form>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!--Phải load jquery trước khi load bootstrap js-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
