<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Thanh toán thành công</title>
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="header :: header"></div>
<br>
<br>
<br>
<br>
<div style="display: flex; justify-content: center; align-content: center; flex-direction: column">
    <h1 style="margin-left: 50%; transform: translateX(-50%)">Đặt đơn hàng thành công</h1>
    <h1 style="color: red; font-size: larger; align-content: center; margin-left: 50%; transform: translateX(-50%)"> Cảm
        ơn bạn đã đặt hàng từ chúng tôi!</h1>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>
