<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thyme leaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Handshop</title>
    <!-- Đặt các thẻ meta, CSS, hoặc các tài nguyên khác cần thiết -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--<link rel="stylesheet" th:href="@{/css/Header.css}">-->
</head>
<body>
<!-- Navbar -->
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <a href="/trangchu" class="navbar-brand p-0">
            <!--<h1 class="text-primary m-0"><i class="fa fa-book me-3"></i>QLVBCC</h1>-->
             <img th:src="'/Images/logo-Handphone-transferent.png'" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                <a href="/admin" class="nav-item nav-link active">Quản Lý</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Quản lý Hồ sơ
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/admin/listBangdiem">Bảng Điểm</a></li>
                        <li><a class="dropdown-item" href="/admin/list">Học Viên</a></li>
                    </ul>
                </li>
                <a href="/listvbcc" class="nav-item nav-link">Quản lý văn bằng</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Quản lý
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/listtruong">Quản lý Trường</a></li>
                        <li><a class="dropdown-item" href="/listnganh">Quản lý Ngành</a></li>
                        <li><a class="dropdown-item" href="/listBacdaotao">Quản lý Bậc Đào Tạo</a></li>
                        <li><a class="dropdown-item" href="/listloaihinh">Quản lý Hình Thức Đào Tạo</a></li>
                    </ul>
                </li>
                <% if (request.getUserPrincipal() != null) { %>
                <a class="nav-item nav-link"> Chào : <%= request.getUserPrincipal().getName()%></a>
                <a class="nav-item nav-link" href="/login">Logout</a>
                <% }else {
                %>
                <a href="/login" class="nav-item nav-link">Đăng nhập</a>
                <%
                }
                %>
    </nav>
</div>
</body>
</html>