<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thyme leaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Hand Mobile Shop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script> <!--Dùng cho slide banner-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!--Dùng cho slide banner-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/Header.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <!--<link rel="stylesheet" th:href="@{/css/headerfix2.css}">-->
    <!--<script src="/js/headerfix2.js"></script> &lt;!&ndash;Dùng cho slide banner&ndash;&gt;-->
    <link rel="stylesheet" href="/css/stylesSupport.css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="bodyDetailAndReview">
    <section class="phone-list">
        <div class="phone-item" th:each="phone,iter:${phoneDTOS}"> <!--Dùng DTO để xử lsy tại backend-->
            <div th:data-phoneid="${phone.phoneId}">
                <span class="Cart-icon" th:if="${#authorization.expression('isAuthenticated()')}" > <a href="#" class="iconcart"> <img th:src="@{'/Images/icon-shopping-cart.png'}" > </a> </span>
                <!--<span class="Cart-icon" th:if="${#authorization.expression('isAuthenticated()')}" > <a th:href="@{'/addToCart/'+ ${phone.phoneId}}"> <img th:src="@{'/Images/icon-shopping-cart.png'}" > </a> </span>-->
                <a th:href="@{'/Handshop/ViewDetailPhone/' + ${phone.phoneId}}" th:data-phoneID="${phone.phoneId}" >
                <img class="img-phones" th:src="'/Images/' + ${phone.ImageName}" th:alt="iPhone"
                     style="width: 150px; height: 150px;">
                <h2 th:text="${phone.phoneName}"></h2>
                <!--<p> <strong> <del th:text="${pricePreSale[iter.index]} + ' $'" th:data="${pricePreSale[iter.index]}"></del> </strong> </p>-->
                <strong><p class="price" th:text="@{'Giá: ' + '$'+ ${phone.getPrice}}"></p></strong>
                <p th:text="'Mô tả: Chiếc điện thoại thông minh từ ' + ${phone.getBrand.getBrandName}"></p>
                <!--cách dùng cú pháp thymeleaf, với biến iter trả về {index, count ... }-->
            </a>
                <!--<a th:href="@{'/addToCart/'+ ${phone.phoneId}}">-->
                <a th:href="@{'/Handshop/cart?Id='+ ${phone.phoneId}}">
                <button>Mua Ngay
                <!--<button onclick="window.location.href = '/addToCart/'+ ${phone.phoneId}">Mua Ngay-->
                </button>
                    </a>
            </div>
        </div>
    </section>
    <section>
        <p>
            <a th:href="@{'/Handshop/admin'}"> <span>Xem thêm</span> </br> </a>
        </p>
    </section>
    <button  class="btn btn-danger remove" id="xxx">test</button>
</div>
<div>
</div>
<script src="/js/ScriptSupport.js"></script>
<script src="/js/script.js"></script>
<script src="/js/header.js"></script>
<div th:replace="footer :: footer"></div>
</body>
</html>
