<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin tài khoản</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Header.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/header.js"></script>
</head>
<body>
<!--<div th:replace="header :: header"></div>-->
<employeinfo>
    <div class="container">
        <div style="display: flex; justify-content: center">
            <h1>Thông tin tài khoản</h1>
            <a th:href="'/Handshop/admin/UpdateEmp/'+${employees.employeeID}">
                <img src="/images/edit.png" alt="edit profile" style="width: 48px; height: 48px;">
            </a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Thông tin cá nhân</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Tên</th>
                        <td th:text="${employees.firstName}"></td>
                    </tr>
                    <tr>
                        <th>Họ</th>
                        <td th:text="${employees.lastName}"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td th:text="${employees.email}"></td>
                    </tr>
                    <tr>
                        <th>Số điện thoại</th>
                        <td th:text="${employees.phone}"></td>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Thông tin tài khoản</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Tên đăng nhập</th>
                        <td th:text="${employees.email}">

                        </td>
                    </tr>
                    <tr>
                        <th>Mật khẩu</th>
                        <td>
                            <div class="d-flex" style="flex-direction: row; justify-content: space-around">
                                <form th:action="@{/Handshop/admin/editpassEmployee}" method="post">
                                    <input type="text" th:value="${employees.pass}" name="passEmployee">
                                    <input type="hidden" th:value="${employees.email}" name="emailEmployee">
                                    <button type="submit" class="btn btn-primary"
                                            onclick="confirm('Bạn có chắc chắn đổi mật khẩu?')"> Đổi MK
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <!--<tr>-->
                        <!--<th>Địa chỉ</th>-->
                        <!--<td th:text="${employees.address}"></td>-->
                    <!--</tr>-->
                    <tr>
                        <th>Ngày đăng ký</th>
                        <td th:text="${employees.hireDate}"></td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div th:if="${changedPass}" style="display: flex; justify-content: flex-end; align-items: flex-end;
                                position: fixed; bottom: 10px; right: 10px; background: linear-gradient(45deg, rgba(229,191,22,0.45), rgba(152,229,18,0.45))">
        <p id="successMessage" style="padding: 15px;
                                border: 1px solid transparent;
                                border-radius: 4px;
                                color: #721c24;
                                border-color: black;
                                margin-bottom: 0;
                                font-weight: bold;">Đổi mật khẩu thành công (<span id="countdown">3</span>)</p>
    </div>
    <script>
        var countdown = 3; // Số giây còn lại
        var countdownElement = document.getElementById("countdown");
        // Cập nhật số giây còn lại và ẩn thông báo khi hết thời gian
        var countdownInterval = setInterval(function() {
            countdown--;
            countdownElement.textContent = countdown;

            if (countdown < 0) {
                document.getElementById("successMessage").style.display = "none";
                clearInterval(countdownInterval);
            }
        }, 1000);
    </script>
</employeinfo>
</body>
</html>
