<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Information</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<div th:replace="admin/headerAdmin :: header-admin"></div>

<div class="container">
    <h2>Edit Employee</h2>
    <form th:object="${employee}" th:action="@{'/Handshop/admin/AccEmployeesManager/showFormForUpdate/' + ${employee.employeeID}}" method="POST">
        <!-- ID (hidden) -->
        <input type="hidden" name="id" th:field="*{employeeID}" />
        <!-- First Name -->
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" required>
        </div>
        <!-- Last Name -->
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}" required>
        </div>
        <!-- Email -->
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}"  required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control password" id="password" name="pass" th:field="*{pass}"  required>
        </div>
        <div class="form-group">
            <input type="hidden" id="hireDate" name="hireDate" th:field="*{hireDate}"/>
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<!-- Link to Bootstrap JS and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
