<!--<div class="master-wrapper-page">-->
    <!--<div class="header" id="headerID">-->
        <!--<div class="header-lower">-->
            <!--<div class="header-logo">-->
                <!--<a th:href="@{/Handshop/list}">-->
                    <!--<h1><img alt="" th:src="@{/Images/logo-Handphone-transferent.png}" with="45px">-->
                    <!--</h1>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="header-menu">-->
                <!--<ul class="top-menu notmobile">-->
                    <!--<li class="category-menu-items"><a href="iphone.html"> iPhone </a>-->
                    <!--</li>-->
                    <!--<li class="category-menu-items"><a href="ipad.html"> iPad </a>-->
                    <!--</li>-->
                    <!--<li class="category-menu-items"><a href="Android.html"> Android </a>-->
                    <!--</li>-->
                    <!--<li class="category-menu-items"><a href="Android.html"> Máy tính bảng </a>-->
                    <!--</li>-->
                    <!--<li class="category-menu-items"><a href="Android.html"> Cục gạch </a>-->
                    <!--</li>-->
                    <!--<li class="category-menu-items"><a href="phu-kien.html"> Phụ kiện </a>-->
                    <!--</li>-->
                    <!--<li class="topic-items"><a href="dich-vu.html">Dịch vụ-->
                        <!--<svg width="12" height="4" viewBox="0 0 18 10" fill="none"-->
                             <!--xmlns="http://www.w3.org/2000/svg">-->
                            <!--<path d="M16.2253 1.00096C16.4386 1.00096 16.6239 1.06736 16.7811 1.20017C16.927 1.33297 17 1.50154 17 1.70585C17 1.89996 16.9214 2.06852 16.7642 2.21154L9.97684 8.60158C9.70737 8.86719 9.38737 9 9.01684 9C8.63509 9 8.30386 8.86719 8.02316 8.60158L1.23579 2.21154C1.0786 2.0583 1 1.88974 1 1.70586C1 1.52197 1.07298 1.35851 1.21895 1.21549C1.36491 1.07247 1.55018 1.00096 1.77474 1.00096C1.98807 0.990742 2.16772 1.06225 2.31368 1.21549L9 7.51359L15.6863 1.21549C15.8323 1.07247 16.0119 1.00096 16.2253 1.00096Z"-->
                                  <!--fill="white" stroke="white"/>-->
                        <!--</svg>-->
                    <!--</a>-->
                        <!--<div class="child-menu">-->
                            <!--<div class="child-menu-content">-->
                                <!--<a href="care.html">Bảo Hành Uỷ Quyền Apple </a>-->
                                <!--<a href="than-so-hoc.html">Tra cứu thần số học</a>-->
                                <!--<a href="tra-gop.html">Trả Góp</a>-->
                                <!--<a href="thu-cu-doi-moi.html">Thu Cũ Đổi Mới</a>-->
                                <!--<a href="workshop.html">WorkShop</a>-->
                                <!--<a href="mbti.html">MBTI</a>-->
                                <!--<a href="sim.html">Sim Thẻ</a></div>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<div class="menu-toggle"></div>-->
                <!--<ul class="top-menu mobile">-->
                    <!--<div class="header-links">-->
                        <!--<ul class="popup-header-links">-->
                            <!--<li class="li_ico-register"><a href="register.html" class="ico-register">Tạo tài khoản-->
                                <!--ngay</a></li>-->
                            <!--<li class="li_ico-login"><a href="login_4.html" class="ico-login">Đăng nhập</a></li>-->
                            <!--<li class="li_ico-wishlist"><a href="wishlist.html" class="ico-wishlist"> <span-->
                                    <!--class="wishlist-label">Danh sách yêu thích</span> <span-->
                                    <!--class="wishlist-qty">(0)</span> </a></li>-->
                            <!--<li id="topcartlink"><a href="cart.html" class="ico-cart"> <span-->
                                    <!--class="cart-label">Giỏ hàng</span> <span class="cart-qty">0</span> </a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="block block-account-navigation customer-navigation">-->
                        <!--<div class="title"><strong>Tài khoản của tôi</strong></div>-->
                        <!--<div class="listbox">-->
                            <!--<ul class="list">-->
                                <!--<li class="customer-info active"><a href="login_6.html">Th&#xF4;ng tin t&#xE0;i kho&#x1EA3;n</a>-->
                                <!--</li>-->
                                <!--<li class="customer-addresses inactive"><a href="login_9.html">&#x110;&#x1ECB;a ch&#x1EC9;-->
                                    <!--nh&#x1EAD;n h&#xE0;ng</a></li>-->
                                <!--<li class="customer-orders inactive"><a href="login_8.html">&#x110;&#x1A1;n &#x111;&#x1EB7;t-->
                                    <!--h&#xE0;ng</a></li>-->
                                <!--<li class="customer-my-system inactive"><a href="login_2.html">H&#x1EC7;-->
                                    <!--th&#x1ED1;ng</a></li>-->
                                <!--<li class="downloadable-Product inactive"><a href="login.html">S&#x1EA3;n ph&#x1EA9;m-->
                                    <!--c&#xF3;-->
                                    <!--th&#x1EC3; t&#x1EA3;i xu&#x1ED1;ng</a></li>-->
                                <!--<li class="back-in-stock-subscriptions inactive"><a href="manage.html">&#x110;&#x103;ng-->
                                    <!--k&#xFD; nh&#x1EAD;n tin khi h&#xE0;ng v&#x1EC1;</a></li>-->
                                <!--<li class="reward-points inactive"><a href="login_7.html">&#x110;i&#x1EC3;m th&#x1B0;&#x1EDF;ng</a>-->
                                <!--</li>-->
                                <!--<li class="change-password inactive"><a href="login_5.html">&#x110;&#x1ED5;i m&#x1EAD;t-->
                                    <!--kh&#x1EA9;u</a></li>-->
                                <!--<li class="customer-avatar inactive"><a href="login_3.html">&#x1EA2;nh &#x111;&#x1EA1;i-->
                                    <!--di&#x1EC7;n</a></li>-->
                                <!--<li class="customer-reviews inactive"><a href="login_1.html">L&#x1ECB;ch s&#x1EED;-->
                                    <!--&#x111;&#xE1;nh gi&#xE1; s&#x1EA3;n ph&#x1EA9;m</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="0;/Handshop/list" /></head>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
<body>
<div class="container">
    <div class="message">
        <h1>Đang chuyển hướng...</h1>
        <p>Bạn sẽ được chuyển hướng đến trang mới trong <span class="timer">1</span> giây.</p>
    </div>
</div>
</body>
</html>
